---
# Ansible-lint compatible yamllint config for this role only.
# See: https://ansible.readthedocs.io/projects/lint/rules/yaml/
extends: default

rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  line-length:
    max: 160
    level: warning
