---

extends: default

rules:
  # Required by ansible-lint
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  # Custom rules
  line-length:
    max: 160
    level: warning

ignore-from-file: .gitignore
