---
# Assuming we've already logged in...
# Following procedure on https://infrawatch.github.io/documentation/#high-availability_assembly-advanced-features
# Assuming we're in teh right project already...

- name: "RHELOSP-144992"
# description: "Add highAvailability.enabled: true to the spec section"
  ansible.builtin.shell:
    cmd: |
      oc patch stf/default --type merge -p '{"spec":{"highAvailability":{"enabled": true}}}'
  changed_when: false
  register: cmd_output
  failed_when: cmd_output.rc != 0

- name: "Wait 3 minutes to make sure all HA pods are up and running"
  ansible.builtin.pause:
    minutes: 3

- name: "RHELOSP-144994
# description: "Verify that AMQP Interconnect shows two containers"
  ansible.builtin.shell:
    cmd: |
      oc get pods | grep default-interconnect| wc -l
  register: cmd_output
  failed_when: "cmd_output.stdout|int !=2"
  changed_when: false

- name: "RHELOSP-144989"
# description: Verify that Alert Manager shows two containers
  ansible.builtin.shell:
    cmd: |
      oc get pods | grep alertmanager| wc -l
  register: cmd_output
  failed_when: "cmd_output.stdout|int !=2"
  changed_when: false

- name: "RHELOSP-144995"
# description: "Verify that Prometheus shows two containers"
  ansible.builtin.shell:
    cmd: |
      oc get pods | grep prometheus-default| wc -l
  register: cmd_output
  failed_when: "cmd_output.stdout|int !=2"
  changed_when: false

- name: "RHELOSP-144993"
# description: "Verify that Ceilometer Events Smartgateway shows two containers"
  ansible.builtin.shell:
    cmd: |
      oc get pods | grep default-cloud1-ceil-event| wc -l
  register: cmd_output
  failed_when: "cmd_output.stdout|int !=2"
  changed_when: false

- name: "RHELOSP-144991"
# description: Verify that Ceilometer Metrics Smartgateway shows two containers
  ansible.builtin.shell:
    cmd: |
      oc get pods | grep default-cloud1-ceil-meter| wc -l
  register: cmd_output
  failed_when: "cmd_output.stdout|int !=2"
  changed_when: false

- name: "RHELOSP-144990"
# description:  "Verify that Collectd Events Smartgateway shows two containers"
  ansible.builtin.shell:
    cmd: |
      oc get pods | grep default-cloud1-coll-event| wc -l
  register: cmd_output
  failed_when: "cmd_output.stdout|int !=2"
  changed_when: false

- name: "RHELOSP-144999"
# description: "Verify that Collectd Metrics Smartgateway shows two containers"
  ansible.builtin.shell:
    cmd: |
      oc get pods | grep default-cloud1-coll-meter| wc -l
  register: cmd_output
  failed_when: "cmd_output.stdout|int !=2"
  changed_when: false

- name: "RHELOSP-144998" 
# description: "Verify that Collectd Sensubility shows two containers"
  ansible.builtin.shell:
    cmd: |
      oc get pods | grep default-cloud1-sens-meter| wc -l
  register: cmd_output
  failed_when: "cmd_output.stdout|int !=2"
  changed_when: false

- name: "RHELOSP-144997" 
# description: "Verify that ElasticSearch shows three containers"
  ansible.builtin.shell:
    cmd: |
      oc get pods | grep elasticsearch-es-default| wc -l
  register: cmd_output
  failed_when: "cmd_output.stdout|int !=3"
  changed_when: false

- name: "RHELOSP-144996" 
# description: "Disable HighAvailability after running test"
  ansible.builtin.shell:
    cmd: |
      oc patch stf/default --type merge -p '{"spec":{"highAvailability":{"enabled": false}}}'
  changed_when: false
  register: cmd_output
  failed_when: cmd_output.rc != 0



- name: "Wait 3 minutes to make sure all HA pods are destroyed"
  ansible.builtin.pause:
    minutes: 3
