  #In this test we choose one container (logrotate_crond),checking that it is running 
  #and then stopping the container and starting it again and checking that its health status changes accordingly.

- name: |
    Check that logrotate_crond container is running on controller-0
    Description: Check that logrotate_crond container is running on controller-0
  delegate_to: "{{ groups['overcloud_nodes'][0] }}"
  become: true
  delegate_facts: True
  ansible.builtin.shell:
    cmd: |
      {{ container_bin }} ps | grep logrotate_crond
  register: container_nodes
  changed_when: false
  failed_when: container_nodes.stdout_lines|length != 1



- name: |
    Stop logrotate_crond container on controller-0
    Description: Stop logrotate_crond container on controller-0
  ansible.builtin.shell:
    cmd: |
       systemctl stop tripleo_logrotate_crond
  delegate_to: "{{ groups['overcloud_nodes'][0] }}"
  become: true
  register: output
  changed_when: false



- name: |
    Check that logrotate_crond container has stopped
    Description: Check that logrotate_crond container has stopped
  ansible.builtin.shell: |
    {{ container_bin }} ps | grep logrotate_crond 
  delegate_to: "{{ groups['overcloud_nodes'][0] }}"
  become: true
  register: container_nodes
  changed_when: false
  failed_when: container_nodes.stdout_lines|length != 0
 


- name: |
    Check that health status of container changed to 0
    Description: Check that health status of container changed to 0
  ansible.builtin.shell:
    cmd: >-
      /usr/bin/curl -k {{ prom_auth_string }}" \
        -g https://{{ prom_url }}/api/v1/query? \
        --data-urlencode 'query=last_over_time(sensubility_container_health_status{process="logrotate_crond",host="{{ groups['overcloud_nodes'][0] }}"}[10m])' \
        | grep -oP '(?<="value":).*' | awk -F, '{ print $2 }' | grep -o '[0-9]\+' | grep 0 | wc -l
  register: output
  changed_when: false
  failed_when: "output.stdout|int != 1"
  


- name: |
    Start logrotate_crond container
    Description: Start logrotate_crond container
  ansible.builtin.shell:
    cmd: |
       systemctl start tripleo_logrotate_crond
  delegate_to: "{{ groups['overcloud_nodes'][0] }}"
  become: true
  register: output
  changed_when: false



- name:  |
    Check that health status of container changed to 1
    Description: Check that health status of container changed to 1
  ansible.builtin.shell:
    cmd: >-
      /usr/bin/curl -k {{ prom_auth_string }}" \
        -g https://{{ prom_url }}/api/v1/query? \
        --data-urlencode 'query=last_over_time(sensubility_container_health_status{process="logrotate_crond",host="{{ groups['overcloud_nodes'][0] }}"}[10m])' \
        | grep -oP '(?<="value":).*' | awk -F, '{ print $2 }' |  grep -o '[0-9]\+' | grep 1 | wc -l
  register: output
  changed_when: false
  failed_when: "output.stdout|int != 1"

