    - name: Get the default-prometheus-htpasswd secret
      shell: 
        cmd: |
          oc  get secret default-prometheus-htpasswd -ojson | jq '.data.auth, .data.password' |  sed 's/"//g'
      register: prom_secret
    - debug:
        var: prom_secret | string

    - name: "Get the prom URL"
      shell:
        cmd: |
          oc get route/default-prometheus-proxy -ojson | jq '.spec.host' | sed 's/"//g'
      register: prom_route

    - debug:
        var:  prom_route.stdout

    - name: "Get the prom creds from the secret"
      set_fact:
        prom_user: "{{ ( prom_secret.stdout_lines[0] | b64decode | split(':'))[0] }}"
        prom_pass: "{{ prom_secret.stdout_lines[1] | b64decode }}"
        prom_url: "{{ prom_route.stdout }}"
    - debug: var=prom_user


 
    - name: "RHELOSP-37759"
      shell:
        cmd: >-
          /usr/bin/curl -k -u "{{ prom_user }}:{{ prom_pass }}" \
            -g https://{{ prom_url }}/api/v1/query? \
            --data-urlencode 'query=collectd_cpu_percent {plugin_instance="0"}[1m]' \
            --output /tmp/query_collectd_cpu_percent
      register: checkmyconf
      failed_when:
        - checkmyconf.rc !=0

    - name: "RHELOSP-57528"
      shell:
        cmd: >-
          /usr/bin/curl -k -u "{{ prom_user }}:{{ prom_pass }}" \
            -g https://{{ prom_url }}/api/v1/query? \
            --data-urlencode 'query=collectd_ceph_ceph_bytes {plugin_instance="ceph-osd.5"}[1m]' \
            --output /tmp/query_ceph_ceph_bytes
      register: checkmyconf
      failed_when:
        - checkmyconf.rc !=0
    
    - name: "RHELOSP-57536"
      shell: 
        cmd: >-
          /usr/bin/curl -k -u "{{ prom_user }}:{{ prom_pass }}" \
            -g https://{{ prom_url }}/api/v1/query? \
            --data-urlencode 'query=collectd_interface_if_packets_tx_total {type_instance="base"}[1m]' \
            --output /tmp/query_collectd_interface_tx_total
      register: checkmyconf
      failed_when:
        - checkmyconf.rc !=0
    
    - name: "RHELOSP-37762"
      shell: 
        cmd: >-
          /usr/bin/curl -k -u "{{ prom_user }}:{{ prom_pass }}" \
            -g https://{{ prom_url }}/api/v1/query? \
            --data-urlencode 'query=collectd_memory {plugin_instance="base"}[1m]' \
            --output /tmp/query_collectd_memory
      register: checkmyconf
      failed_when:
        - checkmyconf.rc !=0

    - name: "RHELOSP-117539"
      shell: 
        cmd: >-
          /usr/bin/curl -k -u "{{ prom_user }}:{{ prom_pass }}" \
            -g https://{{ prom_url }}/api/v1/query? \
            --data-urlencode 'query=collectd_load_longterm {plugin_instance="base"}[1m]' \
            --output /tmp/query_load_longterm 
      register: checkmyconf
      failed_when:
        - checkmyconf.rc !=0

    - name: "RHELOSP-37757"
      command: egrep 'ceph' /tmp/query_ceph_ceph_bytes
      register: checkmyconf
      changed_when: no
      failed_when:
        - checkmyconf.rc != 0

    - name: "RHELOSP-37218"
      command: egrep 'controller-0|controller-1|controller-2|compute-0|compute-1|ceph-0' /tmp/query_collectd_interface_tx_total
      register: checkmyconf
      changed_when: no
      failed_when:
        - checkmyconf.rc != 0

    - name: "RHELOSP-37636"
      command: egrep 'controller-0|controller-1|controller-2|compute-0|compute-1|ceph-0' /tmp/query_collectd_cpu_percent
      register: checkmyconf
      changed_when: no
      failed_when:
        - checkmyconf.rc != 0


    - name: "RHELOSP-37670"
      command: egrep 'controller-0|controller-1|controller-2|compute-0|compute-1|ceph-0' /tmp/query_collectd_memory
      register: checkmyconf
      changed_when: no
      failed_when:
        - checkmyconf.rc != 0


    - name: "RHELOSP-37224"
      command: egrep 'controller-0|controller-1|controller-2|compute-0|compute-1|ceph-0' /tmp/query_load_longterm
      register: checkmyconf
      changed_when: no
      failed_when:
        - checkmyconf.rc != 0
