- name: Verify node exporter scrapeconfigs exist
  ansible.builtin.include_role:
    name: common
  vars:
    common_cr_test_id: RHOSO-1222
    common_cr_list:
      - kind: scrapeconfigs.monitoring.rhobs
        name: telemetry-node-exporter
      - kind: scrapeconfigs.monitoring.rhobs
        name: telemetry-node-exporter-tls

- name: Verify node exporter container is up
  ansible.builtin.include_role:
    name: common
  vars:
    common_container_test_id: RHOSO-1231
    common_container_list:
      - node_exporter

- name: |
    TEST Use openstack observabilityclient to verify Node Exporter metrics are stored in prometheus
    RHOSO-1214
  ansible.builtin.shell: |
    {{ openstack_cmd }} metric show --disable-rbac node_exporter_build_info
  register: result
  delay: 30
  retries: 10
  changed_when: false
  until: result.rc == 0 and "node_exporter_build_info" in result.stdout
