---
- name: Enable Cloudkitty Module (hashmap)
  ansible.builtin.command:
    cmd: "{{ openstack_cmd }} rating module enable hashmap"
  register: enable_hashmap
  changed_when: true
  failed_when: enable_hashmap.rc != 0

- name: Find the current value of hashmap
  ansible.builtin.shell:
    cmd: "set -o pipefail && {{ openstack_cmd }} rating module get hashmap -c  Priority  -f csv | tail -n +2"
  args:
    executable: /bin/bash
  register: get_hashmap_priority
  changed_when: false

- name: Change priority for CloudKitty hashmap module
  ansible.builtin.command:
    cmd: "{{ openstack_cmd }} rating module set priority hashmap 100"
  register: set_hashmap_priority
  when: get_hashmap_priority.stdout | trim != '100'
  failed_when: (set_hashmap_priority.rc | default(42)) >= 1 or get_hashmap_priority.stdout == ""
  changed_when: true

- name: Get status of all CloudKitty rating modules
  ansible.builtin.command:
    cmd: "{{ openstack_cmd }} rating module list"
  changed_when: false
  register: module_list

- name: TEST Validate CloudKitty module states
  ansible.builtin.assert:
    that:
      - "'hashmap' in module_list.stdout"
      - "'True' in (module_list.stdout_lines | select('search', 'hashmap') | first)"
    fail_msg: "FAILED: CloudKitty module validation failed. Module states are not as expected."
    success_msg: "SUCCESS: CloudKitty modules (hashmap=True) are configured correctly."

- name: TEST Set priority for CloudKitty hashmap module
  ansible.builtin.assert:
    that:
      - "(get_hashmap_priority.stdout | trim == '100') or (set_hashmap_priority.rc | default(-1) == 0)"
    fail_msg: "FAILED: The hashmap priority is not set to 100"
    success_msg: "SUCCESS: The hashmap priority is set to 100"
