---
# Flush Loki Ingester Memory to Storage

# create dir 
- name: Create a directory to extract certificates
  ansible.builtin.file:
    path: "{{ local_cert_dir }}"
    state: directory
    mode: '0755'

# Extract Certs
- name: Extract Client Certificates
  ansible.builtin.command:
    cmd: "oc extract {{ client_secret }} --to={{ local_cert_dir }} --confirm -n {{ namespace }}"
  changed_when: true

# Extract CA Bundle
- name: Extract CA Bundle
  ansible.builtin.command:
    cmd: "oc extract {{ ca_configmap }} --to={{ local_cert_dir }} --confirm -n {{ namespace }}"
  changed_when: true

# Flush
- name: Flush Execution inside openstack CLI
  block:
    # create dir 
    - name: Create directory inside openstack CLI
      ansible.builtin.command:
        cmd: "oc exec -n {{ namespace }} {{ openstackpod }} -- mkdir -p {{ remote_cert_dir }}"
      changed_when: false

    # copy all certs
    - name: Copy certificates to openstack CLI
      ansible.builtin.command:
        cmd: "oc cp {{ local_cert_dir }}/. {{ namespace }}/{{ openstackpod }}:{{ remote_cert_dir }}/"
      changed_when: true

    # flush loki
    - name: Trigger Flush
      ansible.builtin.command:
        cmd: >
          oc exec -n {{ namespace }} {{ openstackpod }} --
          curl -v -X POST {{ ingester_flush_url }}
          --cert {{ remote_cert_dir }}/tls.crt
          --key {{ remote_cert_dir }}/tls.key
          --cacert {{ remote_cert_dir }}/service-ca.crt
      register: flush_response
      changed_when: true
      failed_when: flush_response.rc != 0

    # Status
    - name: Verify Flush Status
      ansible.builtin.assert:
        that:
          - "'204' in flush_response.stderr or '200' in flush_response.stderr"
        fail_msg: "Flush failed"
        success_msg: "Ingester Memory Flushed successfully"

    - name: Confirm Success
      ansible.builtin.debug:
        msg: "Loki Ingester flushed the data successfully"

  rescue:
    - name: Debug Failure Output
      ansible.builtin.debug:
        msg: 
          - "Failure"
          - "Stdout: {{ flush_response.stdout }}"
          - "Stderr: {{ flush_response.stderr }}"
    
    - name: Report Failure
      ansible.builtin.fail:
        msg: "Flush failure"

# Cleanup
- name: Cleanup local certificates
  ansible.builtin.file:
    path: "{{ local_cert_dir }}"
    state: absent