---
# Flush Loki Ingester Memory to Storage

- name: Flush Execution inside openstack CLI
  block:
    # create dir 
    - name: Create directory inside openstack CLI
      ansible.builtin.command:
        cmd: "oc exec -n {{ namespace }} {{ openstackpod }} -- mkdir -p {{ remote_cert_dir }}"
      changed_when: false

    # copy all certs
    - name: Copy certificates to openstack CLI
      ansible.builtin.command:
        cmd: "oc cp {{ local_cert_dir }}/. {{ namespace }}/{{ openstackpod }}:{{ remote_cert_dir }}/"
      changed_when: true

    # flush loki
    - name: Trigger Flush
      ansible.builtin.command:
        cmd: >
          oc exec -n {{ namespace }} {{ openstackpod }} --
          curl -v -X POST {{ ingester_flush_url }}
          --cert {{ remote_cert_dir }}/tls.crt
          --key {{ remote_cert_dir }}/tls.key
          --cacert {{ remote_cert_dir }}/service-ca.crt
      register: flush_response
      changed_when: true
      failed_when: flush_response.rc != 0

    # Status
    - name: Verify Flush Status
      ansible.builtin.assert:
        that:
          - "'204' in flush_response.stderr or '200' in flush_response.stderr"
        fail_msg: "Flush failed"
        success_msg: "Ingester Memory Flushed successfully"

  rescue:
    - name: Debug Failure Output
      ansible.builtin.debug:
        msg: 
          - "Failure"
          - "Stdout: {{ flush_response.stdout }}"
          - "Stderr: {{ flush_response.stderr }}"

  always:
    # Cleanup
    - name: Cleanup local certificates
      ansible.builtin.file:
        path: "{{ local_cert_dir }}"
        state: absent