---
- name: Check for preexisting output file
  ansible.builtin.stat:
    path: "{{ ck_output_file_local }}"
  register: file_preexists

- name: TEST Generate Synthetic Data
  ansible.builtin.command:
    cmd: >
      python3 "{{ ck_synth_script }}"
      --tmpl "{{ ck_data_template }}"
      -t "{{ ck_data_config }}"
      -o "{{ ck_output_file_local }}"
  register: script_output
  when: not file_preexists.stat.exists | bool 
  changed_when: script_output.rc == 0

- name: Read the content of the file
  ansible.builtin.slurp:
    src: "{{ ck_output_file_local }}"
  register: slurped_file

- name: TEST Validate JSON format of synthetic data file
  ansible.builtin.assert:
    that:
    # This filter will trigger a task failure if the string isn't valid JSON
      - slurped_file.content | b64decode | from_json is defined
    fail_msg: "The file does not contain valid JSON format."
    success_msg: "JSON format validated successfully."

- name: Print output_file_remote path
  ansible.builtin.debug:
    msg: "Synthetic data file: {{ ck_output_file_remote }}"

- name: Copy output file to remote host
  ansible.builtin.copy:
    src: "{{ ck_output_file_local }}"
    dest: "{{ ck_output_file_remote }}"
    mode: '0644'
