---
- name: "Validate Chargeback Feature"
  ansible.builtin.include_tasks: "chargeback_tests.yml"

- name: "Generate Synthetic Data"
  ansible.builtin.include_tasks: "gen_synth_loki_data.yml"

- name: "Ingest Data log to loki"
  ansible.builtin.include_tasks: "ingest_loki_data.yml"