---
- name: Validate Chargeback Feature
  ansible.builtin.include_tasks: 
    file: chargeback_tests.yml

- name: Generate Synthetic Data
  ansible.builtin.include_tasks: 
    file: gen_synth_loki_data.yml

- name: Setup Loki Environment
  ansible.builtin.include_tasks: 
    file: setup_loki_env.yml

- name: Ingests Cloudkitty Data log
  ansible.builtin.include_tasks: 
    file: ingest_loki_data.yml

- name: Flush Data to Loki Storage
  ansible.builtin.include_tasks: 
    file: flush_loki_data.yml

- name: Retrieve Data log from Loki
  ansible.builtin.include_tasks: 
    file: retrieve_loki_data.yml

