---
- name: "Validate Chargeback Feature"
  ansible.builtin.include_tasks: "chargeback_tests.yml"

- name: "Generate Synthetic Data"
  ansible.builtin.include_tasks: "gen_synth_loki_data.yml"

- name: "Ingests Cloudkitty Data log"
  ansible.builtin.include_tasks: "ingest_loki_data.yml"

- name: "Flush Data to loki Storage"
  ansible.builtin.include_tasks: "flush_loki_data.yml"

- name: "Retreive Data log from loki"
  ansible.builtin.include_tasks: "retreive_loki_data.yml"