---
# Automate Loki Log Retrieval

# Count the entries in the log file
- name: Read the json data log file to calculate the no. of entries
  ansible.builtin.slurp:
    src: "{{ ck_output_file_remote }}"
  register: source_file_data

- name: Set Expected Log Count
  ansible.builtin.set_fact:
    expected_log_count: "{{ (source_file_data['content'] | b64decode | from_json).streams | map(attribute='values') | map('length') | sum }}"

- name: Expected Count
  ansible.builtin.debug:
    msg: "Input file has {{ expected_log_count }} log lines that Loki has to return"

# Calculate Time
- name: Calculate Start Time in nanoseconds
  ansible.builtin.command: date -d "{{ lookback_days }} days ago" +%s000000000
  register: nano_time
  changed_when: false

- name: Set Start Time
  ansible.builtin.set_fact:
    start_time: "{{ nano_time.stdout }}"

- name: Display Query Parameters
  ansible.builtin.debug:
    msg: 
      - "Query: {{ logql_query }}"
      - "Start Time: {{ start_time }}"
      - "Limit: {{ limit_logs }}"

# Query Loki
- name: Retrieve Logs from Loki via API
  block:
    - name: Query Loki API
      ansible.builtin.uri:
        url: "{{ loki_query_url }}?query={{ logql_query | urlencode }}&start={{ start_time }}&limit={{ limit_logs }}"
        method: GET
        client_cert: "{{ cert_dir }}/tls.crt"
        client_key: "{{ cert_dir }}/tls.key"
        ca_path: "{{ cert_dir }}/ca.crt"
        validate_certs: false
        return_content: yes
        body_format: json
      register: loki_response
      # Wait condition
      until:
        - loki_response.status == 200
        - loki_response.json.status == 'success'
        - loki_response.json.data.result | length > 0
        - (loki_response.json.data.result | map(attribute='values') | map('length') | sum) >= expected_log_count|int
      retries: 5
      delay: 300

    # Save data
    - name: Save Loki Data to JSON file
      ansible.builtin.copy:
        content: "{{ loki_response.json | to_nice_json }}"
        dest: "{{ ck_loki_retrieve_file }}"
        mode: '0644'

    # Validate
    - name: Verify Data Integrity
      ansible.builtin.assert:
        that:
          - loki_response.json.status == 'success'
          - loki_response.json.data.result | length > 0
        fail_msg: "Query did not return any data entries"
        success_msg: "Query found {{ loki_response.json.data.result | length }} data entries"

    # Success
    - name: Confirm Success
      vars:
        actual_count: "{{ loki_response.json.data.result | map(attribute='values') | map('length') | sum }}"
      ansible.builtin.debug:
        msg: "Successful, Input file had {{ expected_log_count }} entries and Loki returned {{ actual_count }}"

  rescue:
    - name: Debug failure
      ansible.builtin.debug:
        msg: 
          - "Status: {{ loki_response.status | default('Unknown') }}"
          - "Body: {{ loki_response.content | default('No Content') }}"
          - "Msg: {{ loki_response.msg | default('Request failed') }}"

    # Failure
    - name: Report Retrieval Failure
      ansible.builtin.fail:
        msg: "Retrieval Failed"