---
# Setup Loki Environment

# Dynamic URL's
- name: Get Loki Public Route Host
  ansible.builtin.command:
    cmd: oc get route cloudkitty-lokistack -n {{ openstack_ns }} -o jsonpath='{.spec.host}'
  register: loki_route
  changed_when: false

- name: Set Loki URLs
  ansible.builtin.set_fact:
    # Base URL
    loki_base_url: "https://{{ loki_route.stdout }}"
    
    # Internal Flush URL (Service DNS: https://<service>.<openstack_ns>.svc:3100/flush)
    ingester_flush_url: "https://cloudkitty-lokistack-ingester-http.{{ openstack_ns }}.svc:3100/flush"

- name: Set Derived Loki URLs
  ansible.builtin.set_fact:
    loki_push_url: "{{ loki_base_url }}/api/logs/v1/cloudkitty/loki/api/v1/push"
    loki_query_url: "{{ loki_base_url }}/api/logs/v1/cloudkitty/loki/api/v1/query_range"

- name: Debug URLs
  ansible.builtin.debug:
    msg: 
      - "Loki Route: {{ loki_base_url }}"
      - "Push URL:   {{ loki_push_url }}"
      - "Flush URL:  {{ ingester_flush_url }}"
      - "Query URL:  {{ loki_query_url }}"

# Certs to Ingest & Retrieve data to/from Loki
- name: Ensure Local Certificate Directory Exists
  ansible.builtin.file:
    path: "{{ gateway_client_cert_dir }}"
    state: directory
    mode: '0755'

- name: Extract Certificates from Openshift Secret
  ansible.builtin.command:
    cmd: >
      oc extract secret/{{ gateway_client_cert_secret_name }}
      --to={{ gateway_client_cert_dir }}
      --confirm
      -n {{ openstack_ns }}
  changed_when: true

# Certs to Flush data to Loki
- name: Create a directory to extract certificates
  ansible.builtin.file:
    path: "{{ ingester_client_cert_dir }}"
    state: directory
    mode: '0755'

- name: Extract Client Certificates
  ansible.builtin.command:
    cmd: > 
      oc extract {{ ingester_client_cert_secret }}
      --to={{ ingester_client_cert_dir }}
      --confirm
      -n {{ openstack_ns }}
  changed_when: true

- name: Extract CA Bundle
  ansible.builtin.command:
    cmd: "oc extract {{ ingester_ca_configmap }}
    --to={{ ingester_client_cert_dir }}
    --confirm
    -n {{ openstack_ns }}"
  changed_when: true
