---
- name: "Set the prom auth"
  ansible.builtin.include_role:
    name: client_side_tests
    tasks_from: get_prom_info.yml
  vars:
    prom_auth_method: token
#
- name: "Get the observability strategy and set the observability_api"
  ansible.builtin.include_tasks:
    file: get_observability_api.yml

- name: "Test Creating an alert rule in Prometheus"
  ansible.builtin.include_tasks:
    file: test_create_an_alert.yml

- name: "Test Creating a standard alert route in Alertmanager"
  ansible.builtin.include_tasks:
    file: test_creating_a_standard_alert_route_in_alert_manager.yml
