---
# Assuming we've already logged in...
# Assuming we're in the right project already...
# Following procedure on https://infrawatch.github.io/documentation/#creating-an-alert-rule-in-prometheus_assembly-advanced-features

- name: "Do the test procedure"
  block:
    - name: "RHELOSP-144965 Create the alert"
      ansible.builtin.shell:
        cmd: |
          oc apply -f - <<EOF
          apiVersion: {{ observability_api }}/v1
          kind: PrometheusRule
          metadata:
            creationTimestamp: null
            labels:
              prometheus: default
              role: alert-rules
            name: fvt-testing-prometheus-alarm-rules
            namespace: service-telemetry
          spec:
            groups:
              - name: ./openstack.rules
                rules:
                  - alert: FVT_TESTING Collectd metrics receive rate is zero
                    expr: rate(sg_total_collectd_msg_received_count[1m]) == 0
          EOF
      changed_when: false
      register: cmd_output
      failed_when: cmd_output.rc != 0

    - name: "RHELOSP-144480 Check that the alert was created"
      ansible.builtin.command:
        cmd: |
          curl -k {{ prom_auth_string }} https://{{ prom_url }}/api/v1/rules
      register: cmd_output

  always:
    - name: "Delete the PrometheusRule"
      ansible.builtin.command:
        cmd: |
          oc delete prometheusrule.{{ observability_api }} fvt-testing-prometheus-alarm-rules
      register: delete_prom
      changed_when: delete_prom.rc == 0

    - name: Wait up to two minutes until the rule is deleted
      ansible.builtin.command:
        cmd: |
          curl -k {{ prom_auth_string }} https://{{ prom_url }}/api/v1/rules
      retries: 12
      delay: 10
      until: 'not "FVT_TESTING Collectd metrics receive rate is zero" in cmd_output.stdout'
      changed_when: false
