---
- name: |
    TEST Verify that the {{ item.kind }} {{ item.name }} CR exists
  ansible.builtin.command:
    cmd: |
      oc get {{ item.kind }} {{ item.name }}
  register: result
  changed_when: false
  failed_when:
    - result.rc != 0

- name: |
    TEST Verify that the {{ item.kind }} {{ item.name }} CR is ready
    {{ common_cr_ready_test_id }}
  ansible.builtin.command:
    cmd: |
      oc get {{ item.kind }} {{ item.name }} -o jsonpath='{.status.conditions[?(@.type=="{{ item.condition_type }}")].status}{"\n"}'
  register: result
  changed_when: false
  failed_when:
    - result.stdout != "True"
  when:
    - item.condition_type is defined
