---
- name: "Run pod tests"
  when:
    - common_pod_list is defined
  ansible.builtin.include_tasks: "pod_tests.yml"
  loop: "{{ common_pod_list }}"
  loop_control:
    loop_var: pod

- name: "Run subscription tests"
  when:
    - common_subscription_list is defined
  ansible.builtin.include_tasks: "subscription_tests.yml"
  loop: "{{ common_subscription_list }}"
  loop_control:
    loop_var: subscription

- name: "Run endpoint tests"
  when:
    - common_endpoint_list is defined
  ansible.builtin.include_tasks: "endpoint_tests.yml"
  loop: "{{ common_endpoint_list }}"
  loop_control:
    loop_var: endpoint

- name: "Run project tests"
  when:
    - common_project_list is defined
  ansible.builtin.include_tasks: "project_tests.yml"
  loop: "{{ common_project_list }}"
  loop_control:
    loop_var: project

- name: "Run service tests"
  when:
    - common_service_list is defined
  ansible.builtin.include_tasks: "service_tests.yml"
  loop: "{{ common_service_list }}"
  loop_control:
    loop_var: service

- name: "Run file tests"
  when:
    - common_file_list is defined
  ansible.builtin.include_tasks: "file_tests.yml"
  loop: "{{ common_file_list }}"
  loop_control:
    loop_var: file

- name: "Run manifest tests"
  when:
    - common_manifest_list is defined
  ansible.builtin.include_tasks: "manifest_tests.yml"
  loop: "{{ common_manifest_list }}"
  loop_control:
    loop_var: manifest

- name: "Run crd tests"
  when:
    - common_crd_list is defined
  ansible.builtin.include_tasks: "crd_tests.yml"
  loop: "{{ common_crd_list }}"
  loop_control:
    loop_var: crd

- name: "Run CR tests"
  when:
    - common_cr_list is defined
  ansible.builtin.include_tasks: "cr_tests.yml"
  loop: "{{ common_cr_list }}"
  loop_control:
    loop_var: cr

- name: "Verify container tests"
  when:
    - common_container_list is defined
    - common_container_test_id is defined
  ansible.builtin.include_tasks: "container_test.yml"
  loop: "{{ common_container_list }}"
  loop_control:
    loop_var: container
