---
- name: "Run pod tests"
  when:
    - common_pod_list is defined
    - common_pod_nspace is defined
    - common_pod_status_str is defined
  ansible.builtin.include_tasks: "pod_tests.yml"
  loop: "{{ common_pod_list }}"

- name: "Run subscription tests"
  when:
    - common_subscription_nspace is defined
    - common_subscription_list is defined
  ansible.builtin.include_tasks: "subscription_tests.yml"
  loop: "{{ common_subscription_list }}"

- name: "Run endpoint tests"
  when:
    - common_endpoint_list is defined
  ansible.builtin.include_tasks: "endpoint_tests.yml"
  loop: "{{ common_endpoint_list }}"

- name: "Run project tests"
  when:
    - common_project_list is defined
  ansible.builtin.include_tasks: "project_tests.yml"
  loop: "{{ common_project_list }}"

- name: "Run service tests"
  when:
    - common_service_nspace is defined
    - common_service_list is defined
  ansible.builtin.include_tasks: "service_tests.yml"
  loop: "{{ common_service_list }}"

- name: "Run file tests"
  when:
    - common_file_list is defined
  ansible.builtin.include_tasks: "file_tests.yml"
  loop: "{{ common_file_list }}"

- name: "Run manifest tests"
  when:
    - common_manifest_list is defined
  block:
    - name: "Get the manifest list once"
      ansible.builtin.command: oc get packagemanifests
      changed_when: false
      register: _manifest_output

    - name: "Check that each package manifest is present"
      ansible.builtin.include_tasks: "manifest_tests.yml"
      vars:
        available_manifests: "{{ _manifest_output.stdout_lines }}"
      loop: "{{ common_manifest_list }}"
      loop_control:
        loop_var: manifest

- name: "Run crd tests"
  when:
    - common_crd_list is defined
  ansible.builtin.include_tasks: "crd_tests.yml"
  loop: "{{ common_crd_list }}"

- name: "Run CR tests"
  when:
    - common_cr_list is defined
  ansible.builtin.include_tasks: "cr_tests.yml"
  loop: "{{ common_cr_list }}"

- name: "Verify container tests"
  when:
    - common_container_list is defined
  ansible.builtin.include_tasks: "container_test.yml"
  loop: "{{ common_container_list }}"
  loop_control:
    loop_var: container_name
