---
- name: |
    TEST Get {{ manifest[0] }} {{ manifest[1] }} packagemanifest
  ansible.builtin.assert:
    that:
      - 'available_manifests | select("search", "^"+manifest[0] ) | length == ( manifest[1] | int)'
    fail_msg: |
      {{ available_manifests | select("search", "^"+manifest[0] ) | length }} is not equal to  {{  manifest[1] | int }}
    success_msg: |
      Expected {{ manifest[1] }} and found {{ manifest[1] }}
