---

- name: Get number of packages
  ansible.builtin.shell:
    cmd: |
      echo "{{ item }}" | awk '{print $2;}'
  register: num_expected
  changed_when: false

- name: Get package name
  ansible.builtin.shell:
    cmd: |
      echo "{{ item }}" | awk '{print $1;}'
  register: pack_name
  changed_when: false

- name: Get packagemanifest
  ansible.builtin.shell:
    cmd: |
      oc get packagemanifests | grep "{{ pack_name.stdout }}" | wc -l
  register: num_found 
  changed_when: false
  failed_when: num_expected.stdout != num_found.stdout
