---
- name: Verify Service - "{{ item }}"
  ansible.builtin.shell:
    cmd: |
      oc get service -n "{{ common_service_nspace }}" "{{ item }}"
  changed_when: false
  register: output

- name: |
    Verify {{ item }} service is running in {{ common_service_nspace }} namespace
    {{ common_service_test_id }}
  ansible.builtin.assert:
    that:
      - "'NotFound' not in output.stderr"
    success_msg: "service {{ item }} is running."
    fail_msg: "service {{ item }} not running. Error: {{ output.stderr }}"