[defaults]
#callback_whitelist = custom_logger
callbacks_enabled = custom_logger
callback_plugins = /home/zuul/src/github.com/infrawatch/feature-verification-tests/callback_plugins
# additional paths to search for roles 
roles_path = /home/zuul/src/github.com/infrawatch/feature-verification-tests/roles:/usr/share/ansible/roles:/etc/ansible/roles:~/.ansible/roles:/home/zuul/src/github.com/openstack-k8s-operators/ci-framework/roles:/home/zuul/src/github.com/infrawatch/telemetry_autoscaling/roles/telemetry_autoscaling