[defaults]
callbacks_enabled = custom_junit, custom_logger, ansible.posix.profile_tasks
callback_plugins = ../callback_plugins
# additional paths to search for roles
roles_path = ../roles:/usr/share/ansible/roles:/etc/ansible/roles:~/.ansible/roles:../../ci-framework/roles

[callback_profile_tasks]
task_output_limit = -1

[custom_logger]
output_dir = /$HOME/ci-framework-data/tests/feature-verification-tests/

