[defaults]
callbacks_enabled = custom_junit, custom_logger
callback_plugins = ../callback_plugins
# additional paths to search for roles
roles_path = ../roles:/usr/share/ansible/roles:/etc/ansible/roles:~/.ansible/roles:../../ci-framework/roles

[custom_logger]
output_dir = /$HOME

