---
# telemetry_registry value should be quay.rdoproject.org/podified-master-centos10
# telemetry_tag value should be current-tested.
spec:
  customContainerImages:
    aodhAPIImage: quay.io/efoley/aodh-api:master-latest
    aodhEvaluatorImage: quay.io/efoley/aodh-evaluator:master-latest
    aodhListenerImage: quay.io/efoley/aodh-listener:master-latest
    aodhNotifierImage: quay.io/efoley/aodh-notifier:master-latest
    ceilometerCentralImage: quay.io/efoley/ceilometer-central:master-latest
    ceilometerComputeImage: quay.io/efoley/ceilometer-compute:master-latest
    cloudkittyAPIImage: quay.io/efoley/cloudkitty-api:master-latest
    cloudkittyProcImage: quay.io/efoley/cloudkitty-processor:master-latest
    heatAPIImage: {{ telemetry_registry }}/openstack-heat-api:{{ telemetry_tag }}
    heatCfnapiImage: {{ telemetry_registry }}/openstack-heat-api-cfn:{{ telemetry_tag }}
    heatEngineImage: {{ telemetry_registry }}/openstack-heat-engine:{{ telemetry_tag }}
# These containers are not deployed/tested here
# quay.io/efoley/ceilometer-ipmi:master-latest
# TODO: rename the images that I pushed to quay, so I can use the
# telemetry_registry and telemetry_tag vars and have a second job
# varient for functional-tests-osp19
