---
- name: "Run functional test playbooks"
  hosts:  "{{ cifmw_target_hook_host | default('localhost')  }}"
  gather_facts: true
  environment:
    KUBECONFIG: "{{ cifmw_openshift_kubeconfig }}"
    PATH: "{{ cifmw_path }}"
  vars_files:
    - vars/common.yml
  tasks:
    - name: "Create log dir"
      ansible.builtin.file:
        path: "{{ logs_dir }}"
        state: directory
        mode: "0755"
      
    - name: "Set dynamic KUBECONFIG and PATH vars"
      copy:
        content: |
          cifmw_openshift_kubeconfig: "{{ cifmw_openshift_kubeconfig }}"
          cifmw_path: "{{ cifmw_path }}"
        dest: "{{ env_vars }}"

    # Prepare the env
    - name: Setup the env before running the autoscaling functional test
      block:
          # TODO: Look at replacing this with something NOT from install_yamls.
        - community.general.make:
            chdir: '{{ ansible_env.HOME }}/{{ zuul.projects["github.com/openstack-k8s-operators/install_yamls"].src_dir }}/devsetup'
            target: edpm_deploy_instance
          tags:
            - setup

          # TODO: Convert this to a kustomization and pass it to the deployment
          # First step might be to use -k in the patch to pass a kustomization to oc patch
        - name: Patch the openstackversions to use the master containers for aodh and heat
          ansible.builtin.shell:
            cmd: |
              oc patch openstackversions openstack-galera-network-isolation --type merge --patch-file ci/patch.yaml
            chdir: "{{ fvt_dir }}"
          tags:
            - setup

          # TODO:Look for a workaround for this.
        - name: Patch observabilityclient into openstackclient
          ansible.builtin.shell:
            cmd: |
              oc exec openstackclient -- python3 -m ensurepip --upgrade
              oc exec openstackclient -- python3 -m pip install --upgrade aodhclient
              oc exec openstackclient -- python3 -m pip install --upgrade python-observabilityclient
          tags:
            - setup

        - name: Wait until the oscp is resolved the changes to continue
          ansible.builtin.shell:
            cmd: |
              oc get oscp | grep "Setup complete"
          retries: 24
          timeout: 5
          until: output.stdout_lines | length == 1
          register: output
          tags:
            - setup

    
    - name: Setup the env before running the autoscaling functional test
      block:
        - name: Create log dir for autoscaling test
          ansible.builtin.file:
            path: "{{ logs_dir }}/autoscaling"
            state: directory
            mode: "0755"

        - name: "Run telemetry tests playbook locally on the target host"
          ansible.builtin.shell:
            cmd: |
              ANSIBLE_CONFIG=ci/ansible.cfg ansible-playbook -v  -e @"{{ env_vars }}" ci/telemetry_autoscaling.yml
            chdir: "{{ fvt_dir }}"
          register: output

        - name: Save ansible output to a file
          ansible.builtin.copy:
            content: "{{ output.stdout }}"
            dest: {{ logs_dir }}/autoscaling/ansible_run.log

        - name: Move callback_plugin result to log dir
          ansible.builtin.shell:
            cmd: |
              cp  {{ fvt_dir }}/test_run_result.out {{ logs_dir }}/autoscaling/test_run_result.log
