---
# TODO(efoley) Consider a heat stack to create the pre-reqs for the autoscaling example.
# i.e. create the sec group, network, etc
- name: Create the generic archive policy for autoscaling
  when: metrics_backend == "gnocchi"
  ansible.builtin.shell: |
    # source ~/overcloudrc;
    {{ openstack_cmd }} metric archive-policy create generic \
    --back-window 0 \
    --definition timespan:'4:00:00',granularity:'0:01:00',points:240 \
    --aggregation-method 'rate:mean' \
    --aggregation-method 'mean';
  register: result
  failed_when: result.rc >= 1

- name: Verify that the archive policy was created
  when: metrics_backend == "gnocchi"
  ansible.builtin.shell: |
    # source ~/overcloudrc;
    {{ openstack_cmd }} metric archive-policy show generic;
  register: result
  failed_when: result.rc >= 1

- name: Create "vnf" directory under templates
  ansible.builtin.shell: |
    mkdir -p $HOME/templates/autoscaling/vnf/

  # TODO: Pass the parameters correctly. When I tried to pass the parameters
  # into the template.yaml file, they weren't passed to the instance initially.
- name: |
      TEST Configure heat template for automatically scaling instances
      RHOSO-12657
  ansible.builtin.template:
    src: instance.yaml.j2
    dest: ~/templates/autoscaling/vnf/instance.yaml

- name: |
      TEST Create the resource to reference in the heat template
      RHOSO-12658
  ansible.builtin.copy:
    dest: ~/templates/autoscaling/vnf/resources.yaml
    content: |
      resource_registry:
        "OS::Nova::Server::VNF": ./instance.yaml

- name: |
      TEST Create the deployment template for heat to control instance scaling
      RHOSO-12659
  ansible.builtin.template:
    dest: ~/templates/autoscaling/vnf/template.yaml
    src: template.yaml.j2
