---
# Assuming we've already logged in...
# Following procedure on https://infrawatch.github.io/documentation/#configuring-snmp-traps_assembly-advanced-features
# Assuming we're in the right project already...

- name: "Set the alerting.alertmanager.receivers.snmpTraps parameters"
  ansible.builtin.shell:
    cmd: |
      oc patch stf/default --type merge -p '{"spec": {"alerting": {"alertmanager": {"receivers": {"snmpTraps": {"enabled": true, "target": "10.10.10.10" }}}}}}'
  changed_when: false
  register: cmd_output
  failed_when: cmd_output.rc != 0


- name: "Show the command output"
  ansible.builtin.debug:
    var: cmd_output


- name: "Interrupt metrics flow by preventing the QDR from running"
  ansible.builtin.shell:
    cmd: |
      for i in {1..30}; do oc delete po -l application=default-interconnect; sleep 1; done
  changed_when: false

- name: "Check for snmpTraps logs"
  ansible.builtin.shell:
    cmd: |
      oc logs -l "app=default-snmp-webhook"  | grep "Sending SNMP trap" | wc -l
  register: cmd_output
  changed_when: false
  failed_when: "cmd_output.stdout|int == 0"


- name: "Show the command output"
  ansible.builtin.debug:
    var: cmd_output


- name: "Wait 2 minutes to make sure all SG pods are back to normal"
  ansible.builtin.pause:
    minutes: 2
  changed_when: false
